@model IEnumerable<Everestfcsweb.Models.SystemGadgetsData>
@{
    ViewData["Title"] = "Gadgetlists";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header py-1">
                <div class="row">
                    <div class="col-sm-8">
                        <h6 class="font-weight-bold text-sm card-title">POS</h6>
                    </div>
                    <div class="col-sm-4">
                        <a asp-action="AddTenantGadget" asp-controller="HardwareManagement" asp-route-code="@Guid.NewGuid()" asp-route-GadgetId="0" asp-area="" id="CAN_ADD_GADGET" class="btn btn-xs btn-info float-right" data-target="#FuelcardsystemModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add Gadget</a>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive table-responsive-sm">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>Gadget Name</th>
                            <th>Imei1</th>
                            <th>Imei2</th>
                            <th>Description</th>
                            <th>Station</th>
                            <th>Status</th>
                            <th>RegisteredOn</th>
                            <th>RegisteredBy</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.GadgetName</td>
                                <td>@item.Imei1</td>
                                <td>@item.Imei2</td>
                                <td>@item.Descriptions</td>
                                <td>@item.Station</td>
                                <td>
                                    @if (item.IsActive)
                                    {
                                        <span class="badge badge-info badge-info-xs font-weight-bold text-uppercase">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger badge-info-xs font-weight-bold text-uppercase">Inactive</span>
                                    }
                                    @if (item.IsDeleted)
                                    {
                                        <span class="badge badge-danger badge-info-xs font-weight-bold text-uppercase">Deleted</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-info badge-info-xs font-weight-bold text-uppercase">Notdeleted</span>
                                    }
                                </td>
                                <td>@item.DateCreated</td>
                                <td>@item.Createdby</td>
                                <td>
                                    <a asp-action="AddTenantGadget" asp-controller="HardwareManagement" asp-route-code="@Guid.NewGuid()" asp-route-GadgetId="@item.GadgetId" asp-area="" id="CAN_EDIT_GADGET" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main" data-target="#FuelcardsystemModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Edit</a>
                                    @if (item.IsActive)
                                    {
                                        <a onclick="tenantdeactivatethis(event)" data-tablename="SystemGadgets" data-Columname="IsActive" data-Status="0" data-Columnidname="GadgetId" data-Entryid="@item.GadgetId" id="CAN_DEACTIVATE_GADGET" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Deactivate</a>
                                    }
                                    else
                                    {
                                        <a onclick="tenantactivatethis(event)" data-Tablename="SystemGadgets" data-Columname="IsActive" data-Status="1" data-Columnidname="GadgetId" data-Entryid="@item.GadgetId" id="CAN_ACTIVATE_GADGET"  class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Activate</a>
                                    }
                                    @if (item.IsDeleted)
                                    {
                                        <a onclick="tenantrestorethis(event)" data-Tablename="SystemGadgets" data-Columname="IsDeleted" data-Status="0" data-Columnidname="GadgetId" data-Entryid="@item.GadgetId" id="CAN_RESTORE_GADGET" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Restore</a>
                                    }
                                    else
                                    {
                                        <a onclick="tenantdeletethis(event)" data-Tablename="SystemGadgets" data-Columname="IsDeleted" data-Status="1" data-Columnidname="GadgetId" data-Entryid="@item.GadgetId" id="CAN_DELETE_GADGET" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Delete</a>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>