@model Everestfcsweb.Entities.SystemSchemeRuleResultData
@{
    var SystemLoyaltyGrouping = ViewData["SystemLoyaltyGroupinglists"] as List<SelectListItem>;
    var SystemProducts = ViewData["SystemProductslists"] as List<SelectListItem>;
    var SystemStations = ViewData["Systemstationslists"] as List<SelectListItem>;
    var SystemPaymentmodes = ViewData["SystemPaymentmodeslists"] as List<SelectListItem>;
    var SystemFormulas = ViewData["SystemFormulaslists"] as List<SelectListItem>;
    var SystemRewards = ViewData["SystemRewardslists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title text-uppercase" id="SocialPesaModalLabel">System Scheme Rules</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <input class="form-control form-control-sm" asp-for="@Model.LSchemeRuleId" id="LSchemeRuleIdId" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="font-weight-light text-sm">Days Applicable</label>
                        <select class="form-control form-control-sm font-weight-light select2" multiple="multiple" asp-for="@Model.DayOfWeek" id="SchemeRuleDaysApplicableId">
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="font-weight-light text-sm">Start Date</label>
                        <input class="form-control form-control-sm" type="time" asp-for="@Model.StartTime" id="SchemeRuleStartDateId" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="font-weight-light text-sm">End Date</label>
                        <input class="form-control form-control-sm" type="time" asp-for="@Model.EndTime" id="SchemeRuleEndDateId" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="font-weight-light text-sm">Stations</label>
                        <select class="form-control form-control-sm font-weight-light select2" asp-for="@Model.Station" id="SchemeRuleStationsId" multiple="multiple" asp-items="@SystemStations">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="font-weight-light text-sm">Products</label>
                        <select class="form-control form-control-sm font-weight-light select2" asp-for="@Model.Product" id="SchemeRuleProductsId" multiple="multiple" asp-items="@SystemProducts">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="font-weight-light text-sm">Loyalty Groups</label>
                        <select class="form-control form-control-sm font-weight-light select2" asp-for="@Model.Loyaltygroup" id="SchemeRuleLoyaltyGroupsId" multiple="multiple" asp-items="@SystemLoyaltyGrouping">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="font-weight-light text-sm">Payment Modes</label>
                        <select class="form-control form-control-sm font-weight-light select2" asp-for="@Model.Paymentmode" id="SchemeRulePaymentModesId" multiple="multiple" asp-items="@SystemPaymentmodes">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="font-weight-light text-sm">Formula</label>
                        <select class="form-control form-control-sm font-weight-light" asp-for="@Model.FormulaId" id="SchemeRuleFormulaId" asp-items="@SystemFormulas">
                            <option value="0">--Select Formula--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="font-weight-light text-sm">Rewards</label>
                        <select class="form-control form-control-sm font-weight-light" asp-for="@Model.LRewardId" id="SchemeRuleRewardId" asp-items="@SystemRewards">
                            <option value="0">--Select Reward--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" onclick="savesystemawardingschemeeditdata();">Add</button>
</div>