@model Everestfcsweb.Entities.AccountEquipmentTransactionFrequencypolicy
<div class="modal-header">
    <h5 class="text-sm modal-title" id="SocialPesaModalLabel">@Model.EquipmentNumber   Account Weekdays  Policy</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <input asp-for="@Model.EquipmentFrequencyId" id="EquipmentFrequencyId" hidden />
            <input asp-for="@Model.EquipmentId" id="PolicyEquipmentId" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Frequency(count)</label>
                <input class="form-control form-control-sm" id="EquipmentFrequencyCountId" asp-for="@Model.Frequency" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="font-weight-light">Frequency Period</label>
                <select class="form-control form-control-sm font-weight-light" id="EquipmentFrequencyPeriodId" asp-for="@Model.FrequencyPeriod">
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                </select>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" onclick="savecustomeraccountequipmentfrequencypolicy();">Submit</button>
</div>