@model Everestfcsweb.Entities.CompanyCustomer
@{
    ViewData["Title"] = "Add Customer";
    var Systemstations = ViewData["Systemstationslists"] as List<SelectListItem>;
    var Systemcountries = ViewData["SystemCountrylists"] as List<SelectListItem>;
    var Systemphonecodes = ViewData["Systemphonecodelists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="SocialPesaModalLabel">CUSTOMERS DETAILS </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row" style="display:none">
        <div class="col-sm-12">
            <input id="customerId" asp-for="@Model.CustomerId" />
            <input id="customerDesgnationId" asp-for="@Model.Designation" />
            <input id="customerDesgnationId" asp-for="@Model.CountryId" />
            <input id="customergenderId" asp-for="@Model.Gender" />
            <input id="customerreferencenumberId" asp-for="@Model.ReferenceNumber" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 Individual" style="display:none">
            <div class="form-group">
                <label class="font-weight-light">Firstname</label>
                <input class="form-control form-control-sm" id="firstnameId" asp-for="Firstname" />
            </div>
        </div>
        <div class="col-sm-6 Individual" style="display:none">
            <div class="form-group">
                <label class="font-weight-light">Lastname</label>
                <input class="form-control form-control-sm" id="lastnameId" asp-for="Lastname" />
            </div>
        </div>
        <div class="col-sm-12 Corporate">
            <div class="form-group">
                <label class="font-weight-light">Companyname</label>
                <input class="form-control form-control-sm" id="companynameId" asp-for="Companyname" />
            </div>
        </div>
    </div>
    <div class="row Common">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Emailaddress</label>
                <input type="email" class="form-control form-control-sm" id="emailaddressId" asp-for="Emailaddress" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Phone Number</label>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <select class="form-control form-control-sm font-weight-light input-group-text" id="inputGroup-sizing-sm" asp-for="@Model.Phoneid" asp-items="@Systemphonecodes">
                            <option value="0">Phonecode</option>
                        </select>
                    </div>
                    <input type="number" class="form-control form-control-sm" aria-label="Small" id="PhonenumberId" asp-for="@Model.Phonenumber" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Station</label>
                <select class="form-control form-control-sm font-weight-light" id="CustomerstationId" asp-items="@Systemstations" asp-for="StationId">
                    <option value="0">--Select Station ---</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row Corporate">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Company PIN</label>
                <input class="form-control form-control-sm" id="CompanypinId" asp-for="CompanyPIN" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Registration No#</label>
                <input class="form-control form-control-sm" id="CompanyRegistrationNoId" asp-for="CompanyRegistrationNo" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Tax No#</label>
                <input class="form-control form-control-sm" id="CompanyVATNoId" asp-for="CompanyVAT" />
            </div>
        </div>
    </div>
    <div class="row Common">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Transactions Per Day</label>
                <input class="form-control form-control-sm" id="NoOfTransactionPerDayId" asp-for="NoOfTransactionPerDay" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Daily Amount </label>
                <input class="form-control form-control-sm" id="AmountPerDayId" asp-for="AmountPerDay" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Transaction Per Minute</label>
                <input class="form-control form-control-sm" id="ConsecutiveTransTimeMinId" asp-for="ConsecutiveTransTimeMin" />
            </div>
        </div>

    </div>

    <div class="row Corporate" style="display:none">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="font-weight-light">Company Address</label>
                <input class="form-control form-control-sm" id="CompanyaddressId" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="font-weight-light">Contact Person Name</label>
                <input class="form-control form-control-sm" id="CompanycontactpersonnameId" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="font-weight-light">Contact Person Email</label>
                <input class="form-control form-control-sm" id="CompanycontactpersonemailId" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="font-weight-light">Contact Person Phone</label>
                <input class="form-control form-control-sm" id="CompanycontactpersonphoneId" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer Common">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="SaveSystemCustomerDataBtn" onclick="savesystemcustomerdata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>