@model Everestfcsweb.Entities.CustomerCreditAgreement
@{
    var SystemLoyaltyGrouping = ViewData["SystemLoyaltyGroupinglists"] as List<SelectListItem>;
    var SystemPricelist = ViewData["SystemPricelists"] as List<SelectListItem>;
    var SystemDiscountlist = ViewData["SystemDiscountlists"] as List<SelectListItem>;
}

<div class="modal-header">
    <h5 class="text-sm modal-title" id="SocialPesaModalLabel">Postpaid Credit Agreement Data</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <input asp-for="@Model.AgreementId" id="AgreementId" hidden />
            <input asp-for="@Model.ConsumptionLimitType" id="PostpaidcreditConsumptionLimitTypeId" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Loyalty Group</label>
                <select class="form-control form-control-sm font-weight-light" id="PostpaidcreditLoyaltyGroupingId" asp-for="@Model.GroupingId" asp-items="@SystemLoyaltyGrouping">
                    <option value="0">--Select Loyalty Group ---</option>
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Price</label>
                <select class="form-control form-control-sm font-weight-light" id="PostpaidcreditPricelistId" asp-for="@Model.PriceListId" asp-items="@SystemPricelist">
                    <option value="0">--Select Price ---</option>
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Dicount</label>
                <select class="form-control form-control-sm font-weight-light" id="PostpaidcreditDiscountlistId" asp-for="@Model.DiscountListId" asp-items="@SystemDiscountlist">
                    <option value="0">--Select Discount ---</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Credit Limit</label>
                <input asp-for="LimitValue" type="number" class="form-control form-control-sm font-weight-light" id="PostpaidcreditLimitValueId" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Payment Terms(Days)</label>
                <div class="input-group input-group-sm">
                    <input asp-for="PaymentTerms" class="form-control form-control-sm font-weight-light" type="number" id="PostpaidcreditPaymentTermDaysId">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-info btn-flat">Days</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Agreement Ref.</label>
                <input class="form-control form-control-sm" id="PostpaidcreditAgreementReferenceId" asp-for="@Model.Descriptions" />
            </div>
        </div>
    </div>
    <div class="row" hidden>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-light">Agreement file</label>
                <input class="form-control form-control-sm" type="file" id="AgreementDocId" asp-for="@Model.AgreementDoc" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" onclick="savecustomerpostpaidcreditagreementdetails();">Update Credit Agreement</button>
</div>