@model IEnumerable<Everestfcsweb.Models.SystemCustomerModel>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header py-1">
                <div class="row">
                    <div class="col-sm-8">
                        <h6 class="font-weight-bold text-sm card-title">Customers</h6>
                    </div>
                    <div class="col-sm-4">
                        <a asp-action="Addsystemcustomer" asp-controller="CustomerManagement" asp-area="" id="CAN_CREATE_CUSTOMER" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main float-right" data-target="#FuelcardsystemModalLarge" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add Customer</a>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive table-responsive-sm">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Station</th>
                            <th>Designation</th>
                            <th>Status</th>
                            <th>RegisteredOn</th>
                            <th>RegisteredBy</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model !=null){
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Customername</td>
                                    <td>@item.Emailaddress</td>
                                    <td>@item.CustomerPhone</td>
                                    <td>@item.CustomerRegStation</td>
                                    <td>
                                        @if (item.Designation == "Individual")
                                        {
                                            <span class="badge badge-info badge-info-xs text-uppercase font-weight-bold">Individual</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-secondary badge-info-xs text-uppercase font-weight-bold">Corporate</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsActive)
                                        {
                                            <span class="badge badge-info badge-info-xs text-uppercase font-weight-bold">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger badge-info-xs text-uppercase font-weight-bold">Inactive</span>
                                        }
                                        @if (item.IsDeleted)
                                        {
                                            <span class="badge badge-danger badge-info-xs text-uppercase font-weight-bold">Deleted</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-info badge-info-xs text-uppercase font-weight-bold">Notdeleted</span>
                                        }
                                    </td>
                                    <td>@item.Datecreated</td>
                                    <td>@item.CustomerCreatedBy</td>
                                    <td>
                                        <a asp-action="Details" asp-controller="CustomerManagement" asp-route-code="@Guid.NewGuid()" asp-route-CustomerId="@item.CustomerId" asp-area="" id="CAN_VIEW_CUSTOMER_DETAILS" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Details</a>
                                        <a asp-action="Addsystemcustomer" asp-controller="CustomerManagement" asp-route-CustomerId="@item.CustomerId" asp-area="" id="CAN_EDIT_CUSTOMER" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main " data-target="#FuelcardsystemModalLarge" data-toggle="modal" data-backdrop="static" data-keyboard="false">Edit</a>
                                        @if (item.IsActive)
                                        {
                                            <a onclick="deactivatethis(event)" data-Tablename="Customers" data-Columname="IsActive" data-Status="0" data-Columnidname="CustomerId" data-Entryid="@item.CustomerId" id="CAN_DEACTIVATE_CUSTOMER" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Deactivate</a>
                                        }
                                        else
                                        {
                                            <a onclick="activatethis(event)" data-Tablename="Customers" data-Columname="IsActive" data-Status="1" data-Columnidname="CustomerId" data-Entryid="@item.CustomerId" id="CAN_ACTIVATE_CUSTOMER" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Activate</a>
                                        }
                                        @if (item.IsDeleted)
                                        {
                                            <a onclick="restorethis(event)" data-Tablename="Customers" data-Columname="IsDeleted" data-Status="0" data-Columnidname="CustomerId" data-Entryid="@item.CustomerId" id="CAN_RESTORE_CUSTOMER" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Restore</a>
                                        }
                                        else
                                        {
                                            <a onclick="deletethis(event)" data-Tablename="Customers" data-Columname="IsDeleted" data-Status="1" data-Columnidname="CustomerId" data-Entryid="@item.CustomerId" id="CAN_DELETE_CUSTOMER" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Delete</a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function showsystemcorporatecustomerfields() {
            $('#customerDesgnationId').val("Corporate");
            $(".Corporate").show();
            $(".Common").show();
            $(".Individual").hide();
        }
        function showsystemindivialcustomerfields() {
            $('#customerDesgnationId').val("Individual");
            $(".Individual").show();
            $(".Common").show();
            $(".Corporate").hide();
        }
    </script>
}