@model IEnumerable<Everestfcsweb.Models.DryStockMainStoreModelData>
@{
    ViewData["Title"] = "Mainstore";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header py-1">
                <div class="row">
                    <div class="col-sm-12">
                        <h6 class="font-weight-bold text-sm card-title">Main Store Products</h6>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive table-responsive-sm">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-right">Quantity</th>
                            <th>Createdby</th>
                            <th>CreatedOn</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Productvariationname</td>
                                <td class="text-right">@item.Quantity</td>
                                <td>@item.Createdby</td>
                                <td>@item.DateCreated</td>
                                <td class="text-right">
                                    <a asp-action="Transfertoaccessories" asp-controller="ProductManagement" asp-route-code="@Guid.NewGuid()" asp-route-DryStockStoreId="@item.DryStockStoreId" asp-route-ProductVariationId="@item.ProductVariationId" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase" id="CAN_TRANSFER_TO_ACCESSORIES" data-target="#FuelcardsystemModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Transfer to Accessory</a>
                                    <a asp-action="Transferfromaccessories" asp-controller="ProductManagement" asp-route-code="@Guid.NewGuid()" asp-route-DryStockStoreId="@item.DryStockStoreId" asp-route-ProductVariationId="@item.ProductVariationId" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase" id="CAN_TRANSFER_FROM_ACCESSORIES" data-target="#FuelcardsystemModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Transfer from Accessory</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>