@model Everestfcsweb.Entities.ShiftLubesandLpg
@{
    var SystemProduct = ViewData["SystemProduct"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title text-uppercase" id="SocialPesaModalLabel">@Model.Productcategory Detail</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div id="progressIndicator" style="display: none; text-align: center;">
        <div class="spinner-border text-info" role="status">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input asp-for="@Model.ShiftLubeLpgId" id="ShiftLubeLpgId" hidden />
            <input asp-for="@Model.ShiftId" id="ShiftId" hidden />
            <input asp-for="@Model.AttendantId" id="AttendantId" hidden />
            <input id="SearchCustomerId" value="0" hidden />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-light">Item</label>
                <select class="form-control form-control-sm font-weight-light select2" onchange="Getdryproductdetail(this.value)"  asp-for="@Model.ProductVariationId" id="ProductVariationId" asp-items="@SystemProduct">
                    <option value="0">--select--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" id="DryProductPriceQuantity" style="@(Model.ProductVariationId == 0 ? "display: none;" : "")">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Item Price</label>
                <input class="form-control form-control-sm" id="ItemPriceId" asp-for="@Model.ProductPrice" readonly />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Item Quantity(Units)</label>
                <input class="form-control form-control-sm" type="number" id="ItemQuantityId" oninput="calculateTotalAmount()" asp-for="@Model.ProductUnits" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Total Amount</label>
                <input class="form-control form-control-sm" id="ItemtotaAmountId" asp-for="@Model.ProductTotal" readonly/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" id="savesystemstationshiftlubeandlpgBtn" onclick="savesystemstationshiftlubeandlpgdata();">
        <span id="buttonText">SAVE</span><span id="processingSpinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
</div>