@model Everestfcsweb.Models.SystemDiscountListData
@{
    ViewData["Title"] = "Discountlists";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header py-1">
                <div class="row">
                    <div class="col-sm-8">
                        <h6 class="font-weight-bold text-sm card-title">Discount List</h6>
                    </div>
                    <div class="col-sm-4">
                        <a asp-action="Addsystemdiscountlist" asp-controller="PriceManagement" asp-area="" asp-route-code="@Guid.NewGuid()" asp-route-DiscountlistId="0" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase float-right" id="CAN_ADD_DISCOUNTLIST" data-target="#FuelcardsystemModalLarge" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add Disountlist</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    @if (Model != null)
                    {
                        if (Model.CustomerDiscounts!=null)
                        {
                            foreach (var data in Model.CustomerDiscounts)
                            {
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card card-outline card-warning">
                                                <div class="card-header">
                                                    <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th class="font-weight-light">Name</th>
                                                                <th class="font-weight-light">Isdefault</th>
                                                                <th class="font-weight-light">Status</th>
                                                                <th class="font-weight-light">RegisteredOn</th>
                                                                <th class="font-weight-light">RegisteredBy</th>
                                                                <th class="font-weight-light text-right">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>@data.DiscountListname</td>
                                                                <td>
                                                                    @if (data.IsDefault)
                                                                    {
                                                                        <span class="badge badge-info badge-info-xs">Default</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-danger badge-info-xs">Not Default</span>
                                                                    }
                                                                </td>
                                                                <td class="pull-right">
                                                                    @if (data.IsActive)
                                                                    {
                                                                        <span class="badge badge-info badge-info-xs">Active</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-danger badge-info-xs">Inactive</span>
                                                                    }
                                                                    @if (data.IsDeleted)
                                                                    {
                                                                        <span class="badge badge-danger badge-info-xs">Deleted</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-info badge-info-xs">Notdeleted</span>
                                                                    }
                                                                </td>
                                                                <td>@data.Datecreated</td>
                                                                <td>@data.Createdby</td>
                                                                <td class="text-right">
                                                                    <a asp-action="Editdiscountlist" asp-controller="PriceManagement" asp-route-code="@Guid.NewGuid()" asp-route-DiscountlistId="@data.DiscountListId" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase" id="CAN_EDIT_DISCOUNTLIST" data-target="#FuelcardsystemModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Edit</a>
                                                                    @if (!data.IsDefault)
                                                                    {
                                                                        <a onclick="singledefaultthis(event)" data-Tablename="DiscountList" data-Columname="IsDefault" data-Status="1" data-Columnidname="DiscountListId" data-Entryid="@data.DiscountListId" id="CAN_DEFAULT_DISCOUNTLIST" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase">Default</a>
                                                                    }
                                                                    @if (data.IsActive)
                                                                    {
                                                                        <a onclick="deactivatethis(event)" data-tablename="DiscountList" data-Columname="IsDefault" data-Status="0" data-Columnidname="DiscountListId" data-Entryid="@data.DiscountListId" id="CAN_DEACTIVATE_DISCOUNTLIST" class="btn-danger btn-xs btn-outline-danger text-white font-weight-bold text-uppercase">Deactivate</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a onclick="activatethis(event)" data-Tablename="DiscountList" data-Columname="IsActive" data-Status="1" data-Columnidname="DiscountListId" data-Entryid="@data.DiscountListId" id="CAN_ACTIVATE_DISCOUNTLIST" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase">Activate</a>
                                                                    }
                                                                    @if (data.IsDeleted)
                                                                    {
                                                                        <a onclick="restorethis(event)" data-Tablename="DiscountList" data-Columname="IsDeleted" data-Status="0" data-Columnidname="DiscountListId" data-Entryid="@data.DiscountListId" id="CAN_RESTORE_DISCOUNTLIST" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase">Restore</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a onclick="deletethis(event)" data-Tablename="DiscountList" data-Columname="IsDeleted" data-Status="1" data-Columnidname="DiscountListId" data-Entryid="@data.DiscountListId" id="CAN_DELETE_DISCOUNTLIST" class="btn-danger btn-xs btn-outline-danger text-white font-weight-bold text-uppercase">Delete</a>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="card-body pt-0 pb-1">
                                                    <div class="row py-1">
                                                        <div class="col-sm-9">
                                                            <h6 class="font-weight-bold text-sm card-title">Discount List Values</h6>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <a asp-action="Adddiscountlistvalue" asp-controller="PriceManagement" asp-route-code="@Guid.NewGuid()" asp-route-DiscountListId="@data.DiscountListId" asp-area="" id="CAN_ADD_DISCOUNTLIST_VALUE" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase float-right" data-target="#FuelcardsystemModalLarge" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add Discount list Value</a>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-sm-12 table-responsive">
                                                            <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables1">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="font-weight-light">Product</th>
                                                                        <th class="font-weight-light">Station</th>
                                                                        <th class="font-weight-light">Value</th>
                                                                        <th class="font-weight-light">Days</th>
                                                                        <th class="font-weight-light">Start Time</th>
                                                                        <th class="font-weight-light">End Time</th>
                                                                        <th class="font-weight-light">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (data.DiscountData!=null)
                                                                    {
                                                                        foreach (var item in data.DiscountData)
                                                                        {
                                                                            <tr>
                                                                                <td class="font-weight-light">@item.Productvariationname</td>
                                                                                <td class="font-weight-light">@item.Station</td>
                                                                                <td class="font-weight-light">@item.Discountvalue</td>
                                                                                <td class="font-weight-light">@item.Daysapplicable</td>
                                                                                <td class="font-weight-light">@item.Starttime</td>
                                                                                <td class="font-weight-light">@item.Endtime</td>
                                                                                <td class="font-weight-light">
                                                                                    <a onclick="permanentdeletethis(event)" data-Tablename="DiscountList" data-Columnidname="DiscountListId" data-Entryid="@item.LnkDiscountProductId" id="CAN_REMOVE_DISCOUNTLIST_VALUE" class="btn-danger btn-xs btn-outline-danger text-white font-weight-bold text-uppercase float-right">Remove</a>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
