@model Everestfcsweb.Models.SystemPriceListData
@{
    ViewData["Title"] = "Pricelists";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card card-outline card-info">
            <div class="card-header py-1">
                <div class="row">
                    <div class="col-sm-8">
                        <h6 class="font-weight-bold text-sm card-title">Price List</h6>
                    </div>
                    <div class="col-sm-4">
                        <a asp-action="Addpricelist" asp-controller="PriceManagement" asp-route-code="@Guid.NewGuid()" asp-route-PricelistId="0" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main float-right" id="CAN_ADD_PRICELIST" data-target="#FuelcardsystemModalLarge" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add Pricelist</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    @if (Model != null)
                    {
                        if (Model.CustomerPriceData != null)
                        {
                            foreach (var data in Model.CustomerPriceData)
                            {
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card card-outline card-warning">
                                                <div class="card-header">
                                                    <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th class="font-weight-light">Name</th>
                                                                <th class="font-weight-light">Isdefault</th>
                                                                <th class="font-weight-light">Status</th>
                                                                <th class="font-weight-light">RegisteredOn</th>
                                                                <th class="font-weight-light">RegisteredBy</th>
                                                                <th class="font-weight-light text-right">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>@data.PriceListname</td>
                                                                <td>
                                                                    @if (data.IsDefault)
                                                                    {
                                                                        <span class="badge badge-info badge-info-xs">Default</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-danger badge-info-xs">Not Default</span>
                                                                    }
                                                                </td>
                                                                <td class="pull-right">
                                                                    @if (data.IsActive)
                                                                    {
                                                                        <span class="badge badge-info badge-info-xs">Active</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-danger badge-info-xs">Inactive</span>
                                                                    }
                                                                    @if (data.IsDeleted)
                                                                    {
                                                                        <span class="badge badge-danger badge-info-xs">Deleted</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-info badge-info-xs">Notdeleted</span>
                                                                    }
                                                                </td>
                                                                <td>@data.Datecreated</td>
                                                                <td>@data.Createdby</td>
                                                                <td class="text-right nowrap text-nowrap no-wrap-buttons">
                                                                    <a asp-action="Editpricelist" asp-controller="PriceManagement" asp-route-code="@Guid.NewGuid()" asp-route-PricelistId="@data.PriceListId" asp-area="" id="CAN_EDIT_PRICELIST" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main" data-target="#FuelcardsystemModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Edit</a>
                                                                    @if (!data.IsDefault)
                                                                    {
                                                                        <a onclick="singledefaultthis(event)" data-Tablename="PriceList" data-Columname="IsActive" data-Status="1" data-Columnidname="PriceListId" data-Entryid="@data.PriceListId" id="CAN_DEFAULT_PRICELIST" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Default</a>
                                                                    }
                                                                    @if (data.IsActive)
                                                                    {
                                                                        <a onclick="deactivatethis(event)" data-Tablename="PriceList" data-Columname="IsActive" data-Status="0" data-Columnidname="PriceListId" data-Entryid="@data.PriceListId" id="CAN_DEACTIVATE_PRICELIST" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Deactivate</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a onclick="activatethis(event)" data-Tablename="PriceList" data-Columname="IsActive" data-Status="1" data-Columnidname="PriceListId" data-Entryid="@data.PriceListId" id="CAN_ACTIVATE_PRICELIST" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Activate</a>
                                                                    }
                                                                    @if (data.IsDeleted)
                                                                    {
                                                                        <a onclick="restorethis(event)" data-Tablename="PriceList" data-Columname="IsDeleted" data-Status="0" data-Columnidname="PriceListId" data-Entryid="@data.PriceListId" id="CAN_RESTORE_PRICELIST" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Restore</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a onclick="deletethis(event)" data-Tablename="PriceList" data-Columname="IsDeleted" data-Status="1" data-Columnidname="PriceListId" data-Entryid="@data.PriceListId" id="CAN_DELETE_PRICELIST" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main">Delete</a>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="card-body pt-0 pb-1">
                                                    <div class="row py-1">
                                                        <div class="col-sm-9">
                                                            <h6 class="font-weight-bold text-sm card-title">Price List Prices</h6>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <a asp-action="Addpricelistprice" asp-controller="PriceManagement" asp-route-code="@Guid.NewGuid()" asp-route-PricelistId="@data.PriceListId" asp-area="" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main float-right" id="CAN_ADD_PRICELIST_PRICE" data-target="#FuelcardsystemModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Add Pricelist Price</a>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-sm-12 table-responsive">
                                                            <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="font-weight-light">Product</th>
                                                                        <th class="font-weight-light">Station</th>
                                                                        <th class="font-weight-light">Price</th>
                                                                        <th class="font-weight-light text-right">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in data.PricelistData)
                                                                    {
                                                                        <tr>
                                                                            <td class="font-weight-light">@item.Productvariationname</td>
                                                                            <td class="font-weight-light">@item.Station</td>
                                                                            <td class="font-weight-light">@item.ProductPrice</td>
                                                                            <td class="font-weight-light">
                                                                                <a onclick="permanentdeletethis(event)" data-Tablename="PriceListprices" data-Columnidname="PriceListPricesId" data-Entryid="@item.PriceListPricesId" id="CAN_REMOVE_PRICELIST_PRICE" class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main float-right">Remove</a>
                                                                            </td>
                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>